body {
  color: hsla(320, 87%, 44%, 1);
}


a {
  text-decoration: none;
  color: #ff725c;
}

a:hover {
  background: black;
}

.link-light {
  color: #fff;
}

.link-light:hover {
  background: black;
}

ul, 
ol,
dl, 
dd,
dt,
p,
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  margin: 0;
  padding: 0;
}

.site-header {
  background: hsla(320, 87%, 44%, 1);
}

img {
  max-width: 100%;
  height: auto;
}


.break-end {
  display: block;
  text-align: right
}

/* text transforms (tt) */


/* About Section */
.about-headline {
  max-width: 6.1em;
}


/* Team Section */

.team-member-dn {
  max-width: 96em;
  margin-left: auto;
  margin-right: auto;
}

.team-photo {
  overflow: hidden;
}

.team-meta .link {
  fill: #ff725c;
}

.team-meta .link:hover {
  background: none;
  fill: #111111;
}

/*  On large screen sizes, we move to asymmetrial layout */
@media screen and (min-width: 60em) {
  .team-member-dn .team-photo {
    margin-top: -100px;
  }

  .team-member-cs .team-photo {
    z-index: 5;
    height: auto;
    margin-bottom: -80px;
  }

  .team-member-cs .team-photo img {
    margin-left: -30px;
  }

  .team-section {
    background-color: white;    
  }
}


.event-icon {
  height: 16px;
  width: 16px;
  display: inline-block;
}

/* 
  * Project Section 
  * 
  * This section code only works for one project. 
  *
*/

.project-content {
  margin-top: -96px;
}

.project-photo {
  margin-left: auto;
}

/* 
  * On large screen the supplementary project contents 
  * sits to the left of the main photo and description 
  */
  @media screen and (min-width: 60em) {
  .project-aside {
    margin-right: auto;
  }
}