<dl class="
  pv3 pv5-l 
  ph4
  pl5-m pl6-l
  flex flex-column 
  ml4-l
  w-100 w-70-l
  ">
  <dt class="
    f2-ns f4 
    mb3 lh-solid
    mb3
    pb3
    bb
    b--light-pink
    light-pink
    normal
    avenir">Talks</dt>
  {{ range .Site.Data.Events.Talks }}
    {{ partial "event-list.html" . }}
  {{ end }}

  <dt class="
    f2-ns f4 
    mt3 mt5
    mb3 
    lh-solid
    pb3
    bb
    b--light-pink
    light-pink
    normal
    avenir">Collaborations</dt>
  {{ range .Site.Data.Events.Collabs }}
    {{ partial "event-list.html" . }}
  {{ end }}

</dl>
