
{{ define "main" }}
<header id="intro-section" class="bg-near-black 
  pt4 pt5-l
  pb6
  pl5-l
  fw2
  ">
  <h1 class="f2-ns f4 
    mb3 lh-solid
    ml3 ml5-m
    mb4
    pb3
    bb
    b--light-pink
    light-pink
    normal
    avenir
  ">
    Composites Collective
  </h1>
  <p class="f1 f-subheadline-m f-headline-l 
  lh-title
  pl3 pl5-m
  pr4 pr5-ns 
  bodoni
  fw6
  ">Operates at the intersection of <span class="light-pink nowrap-ns">design & tech<span class="dn-m">nology</span></span>, <span class="light-red nowrap-ns">behavioral sciences</span>, and <span class="light-pink">society</span>.</p>

</header>

<section id="what-section" class="bg-hot-pink near-black
  ph3 ph5-ns
  pt5 pt6-l
  pb5 pb6-l
">
  <h1 class="about-headline
  f1 f-subheadline-m f-headline-l 
  lh-title lh-solid-ns
  tracked-tight-m
  mb4 mb6-ns
  bodoni"><span class="lh-solid w-100-ns">Trans<span class="db tr di-ns tl-ns">forming</span></span> Organizations</h1>
  <p class="f3 f2-l
    measure-narrow lh-copy
    ml5-m ml6-l
    avenir
  ">
    We employ dynamic systems theories, analyses of social structures, and design to transform companies, non-profits, universities, and societies.</p>
</section>

{{ partial "team-section.html" . }}

{{ partial "project-section.html" . }}

{{ partial "event-section.html" .}}

{{ end }}
